<div class="card" style="width:60%"">
    <div class="card-block pl-4 pt-4">
        <h4 class="card-title">Recommended Scenario Stats</h4>
        <div class="card-text">
            <dl class="row">
                <dt class="col-sm-7">
                    Scenario Level
                </dt>
                <dd class="col-sm-2" id="lvl-scen-rec">
                    0
                </dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-7">
                    Monster Level
                </dt>
                <dd class="col-sm-2" id="lvl-mstr-rec">
                    0
                </dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-7">
                    Gold Conversion
                </dt>
                <dd class="col-sm-2" id="gold-cnv-rec">
                    2
                </dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-7">
                    Trap Damage
                </dt>
                <dd class="col-sm-2" id="trap-dmg-rec">
                    2
                </dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-7">
                    Bonus Experience
                </dt>
                <dd class="col-sm-2" id="bonus-xp-rec">
                    4
                </dd>
            </dl>
        </div>
    </div>
</div>