@model GloomManager.Web.Models.EnemyViewModel

@{
    ViewData["Title"] = "Details";
}

<div>
    <h2>
        Level&nbsp;@Html.DisplayFor(model => model.Level) |
        @Html.DisplayFor(model => model.Eliteness) |
        @Html.DisplayFor(model => model.Name)
    </h2>
</div>

<hr />

@using (Html.BeginForm(FormMethod.Get))
{
    @Html.HiddenFor(model => model.Name)

    <div class="form-row mb-3">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary" for="eliteness">
                <input type="radio" name="eliteness" id="standard" autocomplete="off" value="standard" checked> Standard
            </label>
            <label class="btn btn-secondary" for="eliteness">
                <input type="radio" name="eliteness" id="elite" autocomplete="off" value="elite"> Elite
            </label>
        </div>

        <div class="input-group col-md-4">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Level</span>
            </div>
            <input type="number" name="Level" value="@Model.Level" class="form-control" aria-describedby="basic-addon1">
        </div>

        <input type="submit" value="Search" class="btn btn-primary" />
    </div>
}

<partial name="_StatDetails" model="Model" />
<br />
<div>
    <a class="btn btn-info" asp-action="Index">Back to List</a>
</div>
