@model IEnumerable<GloomManager.Web.Models.EnemyFormViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Enemy Index</h1>

<partial name="_SearchBar" model='@(TempData["SearchName"] ?? "")' />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Enemy.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Enemy.Name)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details",
                        new { name = item.Enemy.Name, level = item.Enemy.Level, eliteness = item.Enemy.Eliteness })
                </td>
            </tr>
        }
    </tbody>
</table>
